.site-header {
    padding: 20px 0;
    margin-bottom: 20px;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 100;

    @media (max-width: 1200px) {
        margin-bottom: 40px;
        transform: unset;
    }

    @media (max-width: 767px) {
        margin-bottom: 20px;
    }

    &.is-scrolling {
        box-shadow: 0 0 16px 16px rgba(0, 0, 0, 0.05);
    }

    &.is-scrolling-down {
        transform: translateY(-100%);
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
    }

    &__logo {
        width: 74px;
        aspect-ratio: 74/48;
        flex: none;

        & img {
            border-radius: 0;
        }
    }

    &__overlay {
        position: fixed;
        inset: 0;
        background: rgba(14, 57, 117, 0.32);
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease-in-out 0s;

        @media (max-width: 576px) {
            display: none;
        }

        &.is-visible {
            opacity: 1;
            visibility: visible;
        }
    }

    &__panel {
        display: flex;
        align-items: center;
        gap: 46px;

        @media (max-width: 1400px) {
            gap: 32px;
        }

        @media (max-width: 1200px) {
            padding: 20px;
            position: fixed;
            top: 0;
            right: 0;
            width: 371px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 0;
            background: #fff;
            z-index: 102;
            opacity: 0;
            visibility: hidden;
            transform: translateX(100%);
            @include has-scrollbar;
            transition: all 0.5s ease-in-out 0s;
        }

        @media (max-width: 576px) {
            width: 100%;
        }

        &.is-open {
            opacity: 1;
            visibility: visible;
            transform: unset;
        }

        &-top {
            margin-bottom: 48px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 32px;

            @media (min-width: 1200px) {
                display: none;
            }

            @media (max-width: 576px) {
                margin-bottom: 59px;
            }
        }

        &-close {
            width: 60px;
            aspect-ratio: 1/1;
            border: 2px solid $colorMain;
            border-radius: 50%;
            position: relative;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 52%;
                height: 2px;
                background: $colorMain;
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    &__menu {
    }

    &__languages {
        @media (max-width: 1200px) {
            margin-bottom: 64px;
        }
    }

    &__button {
        flex: none;

        @media (max-width: 1200px) {
            padding: 21.5px 48px;
            margin-top: auto;
            width: 100%;
            height: 70px;
            font-size: 22px;
            line-height: 122%;
            color: #fff;
            background: $colorMain;
        }

        @media (max-width: 576px) {
            padding: 20px 32px;
            font-size: 16px;
            line-height: 122%;
            height: 60px;
        }

        &:hover {
            @media (max-width: 1200px) {
                background: $colorAction;
            }
        }

        &:focus {
            @media (max-width: 1200px) {
                background: $colorAction;
            }
        }

        &:active {
            @media (max-width: 1200px) {
                background: $colorAction;
            }
        }
    }
}
