<footer class="site-footer">
    <div class="container">
        <div class="site-footer__wrapper">
            <div class="site-footer__body">
                <div class="site-footer__logo"><img width="74" height="48" src="@img/logo-white.svg" alt="Logo" title="Logo"></div>
                <nav class="site-footer__navigation">
                    <ul class="site-footer__menu menu-footer">
                        <li class="menu-footer__item">
                            <a data-anchor href="#services" class="menu-footer__link">Услуги</a>
                        </li>
                        <li class="menu-footer__item">
                            <a data-anchor href="#for-whom" class="menu-footer__link">Для кого</a>
                        </li>
                        <li class="menu-footer__item">
                            <a data-anchor href="#advantages" class="menu-footer__link">Преимущества</a>
                        </li>
                        <li class="menu-footer__item">
                            <a data-anchor href="#why-uae" class="menu-footer__link">Почему ОАЭ</a>
                        </li>
                        <li class="menu-footer__item">
                            <a data-anchor href="#faqs" class="menu-footer__link">Вопросы и ответы</a>
                        </li>
                        <li class="menu-footer__item">
                            <a data-anchor href="#contacts" class="menu-footer__link">Контакты</a>
                        </li>
                    </ul>
                    <ul class="site-footer__terms">
                        <li class="site-footer__terms-item">
                            <a href="#" class="site-footer__term">Пользовательское соглашение</a>
                        </li>
                        <li class="site-footer__terms-item">
                            <a href="#" class="site-footer__term">Политика конфиденциальности</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="site-footer__bottom">
                <p class="site-footer__copyright">© 2024 Все права защищены</p>
                <p class="site-footer__creator">Дизайн и разработка — <strong>B.ART</strong></p>
            </div>
        </div>
    </div>
</footer>
