<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Регистрация компании, счета и Emirates ID — NP Consultancy услуги для бизнеса</title>
    <meta
        name="description"
        content="NP Consultancy в ОАЭ помогает открыть компанию, банковский счет и получить Emirates ID. Решения для бизнеса и жизни с поддержкой на каждом этапе - NP Consultancy для вашего бизнеса."
    />
    <link rel="stylesheet" href="./files/swiper-bundle.min.css">
    <link rel="stylesheet" href="./css/main.css">
</head>
