<header class="site-header">
    <div class="container">
        <div class="site-header__body">
            <div class="site-header__logo">
                <img width="74" height="48" src="@img/logo.svg" alt="Logo" title="Logo" />
            </div>
            <div class="site-header__overlay"></div>
            <div class="site-header__panel">
                <div class="site-header__panel-top">
                    <div class="site-header__logo">
                        <img width="74" height="48" src="@img/logo.svg" alt="Logo" title="Logo" />
                    </div>
                    <button type="button" class="site-header__panel-close"></button>
                </div>
                <nav class="site-header__menu menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a data-anchor href="#services" class="menu__link">Услуги</a>
                        </li>
                        <li class="menu__item">
                            <a data-anchor href="#for-whom" class="menu__link">Для кого</a>
                        </li>
                        <li class="menu__item">
                            <a data-anchor href="#advantages" class="menu__link">Преимущества</a>
                        </li>
                        <li class="menu__item">
                            <a data-anchor href="#why-uae" class="menu__link">Почему ОАЭ</a>
                        </li>
                        <li class="menu__item">
                            <a data-anchor href="#faqs" class="menu__link">Вопросы и ответы</a>
                        </li>
                        <li class="menu__item">
                            <a data-anchor href="#contacts" class="menu__link">Контакты</a>
                        </li>
                    </ul>
                    <div data-fold class="site-header__languages languages">
                        <button data-fold-btn class="languages__button">
                            <span class="languages__button-text">Rus</span>
                            <span class="languages__button-arrow">
                                <svg width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12 18C10.9325 18 10.2717 17.3546 9.57681 16.6749L0.502691 7.84655C-0.167564 7.19541 -0.167564 6.13946 0.502691 5.48835C1.17178 4.83722 2.25683 4.83722 2.92588 5.48835L12 14.3156L21.0741 5.48835C21.7432 4.83722 22.8283 4.83722 23.4973 5.48835C24.1676 6.13949 24.1676 7.19544 23.4973 7.84655L14.4232 16.6749C13.7283 17.3546 13.0675 18 12 18Z"
                                        fill="currentColor"
                                    />
                                </svg>
                            </span>
                        </button>
                        <div data-fold-content class="languages__wrapper">
                            <ul class="languages__list">
                                <li class="languages__item">
                                    <span class="languages__link is-current">Rus</span>
                                </li>
                                <li class="languages__item">
                                    <a href="#" class="languages__link">Eng</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <a href="#" class="site-header__button button button--secondary">Связаться с нами</a>
            </div>
            <button type="button" class="site-header__burger burger">
                <span class="burger__line"></span>
            </button>
        </div>
    </div>
</header>
